extends ../layout

block content
  include menu

  #add-employee-button
    a.massive.ui.button(href='/company/employee/add') add-employee-button
  #employees-list
    - var i = 0
    .ui.divided.list
      while i < 100
        .item
          .right.floated.tiny.teal.ui.button.delete-employee-button(
            href='/company/employee/delete/:id=' + employees[i]._id) Delete
          a.right.floated.tiny.teal.ui.button.update-employee-button(
            href='/company/employee/update?id=' + employees[i]._id) Edit
          // img.ui.avatar.image(src='' alt='')
          .content
            .header= employees[i].name
        - i = i + 1
