extends ../layout

block content
  .ui.menu.two.green.inverted
    a.item(href='/company') 公司资料
    a.active.item(href='/company/employees') 雇员

  #employees-cards-list
    h3.ui.header 共有#{employees.length}个雇员
    h4#batch-entry
      a(href='batch') 批量导入入口--------->
    .ui.very.relaxed.horizontal.list
      #add-employee
        a.ui.black.massive.button(href='employee/add') +
      - each e in employees
        .item.ui.segment
          img.ui.left.floated.image(src =e['photo'])#employee-photo
          .content#info
            .ui.header= e.name
            div
              span 年龄:
              = (new Date().getFullYear() - e.birthday.getFullYear())
            div
              span 工作经验:
              = e.workExperience
            div
              span 服务项目:
              div
                each val in e.workDetail
                  = val.workType + ' '
          a.ui.fluid.blue.button.update-employee(href='employee/update/' + e._id) 编辑资料
          .ui.fluid.red.button.delete-employee(href='employee/delete/' + e._id) 删除雇员
