#header
  .ui.inverted.black.segment#header-content
    .ui.header: a(href='/') Housekeeping
    #login-status
      if !currentUser
        a(href='/login') 登录
      else
        a(href='/profile')= currentUser.username
        if currentUser.role == 'admin'
          a(href='/admin') 管理页面
        else
          a(href='/company') 管理页面
        a(href='/logout') 退出