extends layout

block title
  title admin
block content

  #add-button
    .massive.ui.button
      a(href='./admin/company/add') add-button
  #companies-list
    - var n = 0
    .ui.divided.list
      while n < 100
        .item
          .right.floated.tiny.teal.ui.button Delete
          .right.floated.tiny.teal.ui.button
            a(href='./admin/company/update?id=' + n) Edit
          // img.ui.avatar.image(src='' alt='')
          .content
            .header= 'Company ' + n
        - n = n + 1
