extends layout

block content
  form#search-company(action='/search/company')
    .ui.action.input.huge
      input(type='text', placeholder='搜索中介公司')
      .ui.button.submit
        i.search.icon

  .ui.segment#search-employee
    a.ui.button.massive.teal(href='/search?type=0') 钟点工
    a.ui.button.massive.teal(href='/search?type=1') 宅速洁
    a.ui.button.massive.teal(href='/search?type=2') 住家保姆
    a.ui.button.massive.teal(href='/search?type=3') 育儿嫂
    a.ui.button.massive.teal(href='/search?type=4') 护理
    a.ui.button.massive.teal(href='/search?type=5') 早出晚归
