doctype html
html
  head
    meta(charset='utf-8')
    title= 'Housekeeping - ' + title
    link(rel='stylesheet', href='/lib/semantic/css/semantic.min.css')
    link(rel='stylesheet', href='/stylesheets/all.css')
  body
    include includes/header

    #page-content
      block content

    script(src='/lib/jquery/jquery-1.11.1.min.js')
    script(src='/lib/semantic/javascript/semantic.min.js')
    script(src='/javascripts/lib/lib.js')
    script(src='/javascripts/all.js')
