extends ../layout

block content

  #add-company-button
    a.massive.ui.button(href='/admin/company/add') add-company-button
  #companies-list
    - var i = 0
    .ui.divided.list
      while i < companies[i]
        .item
          .right.floated.tiny.teal.ui.button.delete-company-button(
            href='/admin/company/delete/:id=' + companies[i]._id) Delete
          a.right.floated.tiny.teal.ui.button.update-company-button(
            href='/admin/company/update?id=' + companies[i]._id) Edit
          // img.ui.avatar.image(src='' alt='')
          .content
            .header= companies[i].name
        - i = i + 1
