#company-header{
  background-color: #22AAFF;
  color: white;
  margin-bottom: 50px;
  min-height: 150px;
}

#company-logo {
  width: 150px;
  height: 150px;
}

#company-guarantees {
  float: right;
  width: 100px;
}

#company-info h3{
  background-color: rgba(0,0,0,0.1);
}

#employees-cards-list h3 {
  background-color: rgba(0,0,0,0.1);
  text-align: center;
}

#employees-cards-list .item {
  width: 300px;
  height: 150px;
  padding: 0 0 0 0;
  margin-left: 100px;

  & > img {
    width: 100px;
    height: 125px;
  }

  .content > div {
    clear: both;

    & > span {
      float: left;
      width: 80px;
    }

    & > div {
      float: left;
    }
  }

  & > .update-employee {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 150px;
    display: none;
  }

  & > .delete-employee {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 150px;
    display: none;
  }

  & > .check-employee {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 150px;
    display: none;
  }

  &:hover > .button {
    display: block;
  }
}

#add-employee {
  border-style: dashed;
  border-color: rgba(0,0,0,0.1);
  width: 300px;
  height: 150px;
  padding: 0 0 0 0;
  margin-left: 100px;
  margin-top: 16px;
  float: left;
  & > .button {
    margin-left: 107px;
    margin-top: 44px;
  }
}

#batch-entry {
  text-align: right;
}
