#employee-header{
  background-color: #22AAFF;
  color: white;
  margin-bottom: 50px;
  min-height: 150px;
}

#employee-header #employee-photo {
  width: 150px;
  height: 150px;
}

#employee-certificates {
  float: right;
  width: 100px;
}

#employee-info h3{
  background-color: rgba(0, 0, 0, 0.1);
}
