#employee-header{
  background-color: blue;
  color: white;
  margin-bottom: 50px;
}

#employee-photo {
  width: 200px;
  height: 200px;
}

#employee-certificates {
  float: right;
  width: 100px;
}

#employee-info h3{
  background-color: dimgray;
}
