.ui.inverted.blue.segment#search-bar
  a(href='/search?type=') 钟点工
  a(href='/search?type=') 宅速洁
  a(href='/search?type=') 保姆
  a(href='/search?type=') 育儿嫂
  a(href='/search?type=') 护理
  a(href='/search?type=') 早出晚归
