.ui.inverted.blue.segment#search-bar
  a(href='/search?type=0') 钟点工
  a(href='/search?type=1') 宅速洁
  a(href='/search?type=2') 保姆
  a(href='/search?type=3') 育儿嫂
  a(href='/search?type=4') 护理
  a(href='/search?type=5') 早出晚归
